body{
    margin: 0;
    /*background-color: aqua;*/
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 300vh;

    background: url("../image/h.jpg") no-repeat center/contain;
    
}